html, body{
  height: 100vh;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #2860A5;
  text-align: center;
  font-size: 110%;
  font-weight: bold;
  padding: 1vh;
}

#menu {
  padding-left: .5rem;
  padding-right: .5rem;
}

#map {
  height: 92vh;
  width: 100%;
  position: relative;
}

#search-field {
  font-size: 1.25rem;
  margin-top: 1rem;
  width: 100%;
  text-align: center;

}

#view {
  display: flex;
  }

.listItem {
  background-color: #2860A5;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

#sidebar {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 37px;
  height: 40%;
  background: grey;
  font-size: 1rem;
  width: 30%;
  max-width: 100%;
}

#burger-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #2860A5;
  z-index: 1;
  margin: 5px;
}

.toggle-button {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 25px;
  margin: 1px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 25px;
  height: 3px;
  background: white;

}

