r/* Non-responsive element styling */

/* styling for html and body */
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
/* styling for header and footer */
header, footer {
  background-color: #2860A5;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}
/* styling for header */
header {
  height: 5vh;
  line-height: 5vh;
}
/* styling for footer */
footer {
  height: 5vh;
  line-height: 5vh;
  position: relative;
}
/* styling for h1 */
h1 {
  margin: 0px;
}
/* styling for main page */
#App {
  min-height: 100%;
  margin-bottom: -5vh;
  position: relative;
}
/* styling for list of venues */
#menu {
  padding-left: .5rem;
  padding-right: .5rem;
}
/* styling for map */
#map {
  height: 87vh;
  width: 100%;
  position: relative;
}
/* styling for the search field on the sidebar */
#search-field {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-left: 5px;
  margin-right: 5px;
  width: 95%;
  text-align: center;
  border-radius: 20px;
  outline: none;
}
/* styling for the view showing the hamburger menu and sidebar */
#view {
  display: flex;
  }
/* styling for the sidebar */
#sidebar {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 15vh;
  background: grey;
  font-size: 1rem;
  max-width: 100%;
}
/* styling for the burger menu icon positioning */
#burger-menu {
  position: fixed;
  left: 0;
  top: 8vh;
  background-color: #2860A5;
  z-index: 1;
  margin: 5px;
}

#burger-menu:hover {
  background-color: #D75640 ;

}
/* styling for individual list items */
.listItem {
  background-color: #2860A5;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
/* styling for individual list items on hover */
.listItem:hover{
  background-color: #D75640;
}
/* styling for the burger-menu */
.toggle-button {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 25px;
  margin: 1px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
/* styling for when the burger menu gets focus */
.toggle-button:focus {
  outline: none;
}

/* styling for the horizontal lines in the burger menu */
.toggle-button-line {
  width: 25px;
  height: 3px;
  background: white;
}

