html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #2860A5;
  text-align: center;
  font-size: 110%;
  font-weight: bold;
}

header {
  height: 5vh;
  line-height: 5vh;
}

footer {
  height: 5vh;
  line-height: 5vh;
  position: relative;
}

#container {
  min-height: 100%;
  margin-bottom: -5vh;
  position: relative;
}

#App {
  min-height: 100%;
}

#menu {
  padding-left: .5rem;
  padding-right: .5rem;
}

#map {
  height: 90vh;
  width: 100%;
  position: relative;
}

#search-field {
  font-size: 1.25rem;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

#view {
  display: flex;
  }

#sidebar {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 10vh;
  background: grey;
  font-size: 1rem;
  max-width: 100%;
}

#burger-menu {
  position: fixed;
  left: 0;
  top: 5vh;
  background-color: #2860A5;
  z-index: 1;
  margin: 5px;
}

.clearfooter {
  height: 5vh;
  clear: both;
}

.listItem {
  background-color: #2860A5;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.toggle-button {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 25px;
  margin: 1px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 25px;
  height: 3px;
  background: white;
}

