#Main {
  display: flex;
  flex-flow: row nowrap;
}

#map {
  height: 92vh;
  width: 75%;
}

html, body{
  height: 100vh;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #2860A5;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 110%;
  font-weight: bold;
}